import(ggplot2)
importFrom("grDevices", "colorRampPalette", "gray")
importFrom("graphics", "hist", "par", "persp", "rect")
importFrom("stats", "as.formula", "lm", "qchisq", "qf", "qnorm",
           "quantile", "sd")

# functions
export(cvar) 
export(eta2) 
export(panel.hist) 
export(poi.ci) 
export(binom.ci) 
export(plotcdf2) 
export(gg_qqplot)